# Python cache
__pycache__/

# Local testing folders
_indexing_demo_tests/
_testing/

# Old and obsolete code
_dev_alpha/

# Art files
_art/

# Personal notes
_discord-bot_notes.txt
_project_notes.txt

# Data files
data/

# Service logs
logs/

# .env files
.env
.env.local
.env.*.local
*.env

# IDE
.vscode/
